<html><head lang="zh-cn">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
    <title>咦，你是谁</title>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="msapplication-tap-highlight" content="no">
    
    <link href="https://staticcdn.igetget.com/mobile/dedao/dist/css/project/column/column.c00d93aed6.css" rel="stylesheet"> 
    
    <script src="//hm.baidu.com/hm.js?31ee5037df015e9b59b755d1c7fd6428"></script><script type="text/javascript">
        var baseUrl = "https://staticcdn.igetget.com/mobile/dedao/dist/",
            productId = "25",
            userId = "";
    </script>

<style type="text/css" src = 'first.css'>
</style><script type="text/javascript" charset="utf-8" async="" src="https://staticcdn.igetget.com/mobile/dedao/dist/js/project/6.5ce874a14875380681b4.js"></script></head>

<body>
<div class="page">
    
<div class="page bookpage" id="book">
    <div class="column-frame">
        <div class="column-head">
            <img src="http://pic.baike.soso.com/p/20140602/20140602220401-1614700151.jpg" alt="">
            <div class="column-head-masker">
                <div class="introduce">
                    <h1>人生若只如初见</h1>
                    <h2>何须感伤离别</h2>
                </div>
            </div>
        </div>
        <div class="column-body">
            <dl class="column-detail bdr">
                <dt><span class="rss">90162人订阅</span>专栏简介</dt>
                <dd>你曾是少年<br><br>
               咖啡杯子的旁边，电话讯号的里面<br>
               独我一个的面前，无止思念的中间<br>
               热闹人群的孤单，转身离别的留恋<br>
               急忙掩住的耳畔，流着眼泪的晴天<br>
               我记得你的模样，你曾是个少年<br>
               你有深潭的眼眸，你有固执的臂弯<br>
               我也记得你的誓言，你曾是个少年<br>
               你爱我胜过爱你自己，你说永远都不改变<br>
               你曾是少年,你曾是少年<br>
               
            <dl class="column-detail bdr">

                
                <dt>最近更新</dt>
                
                <dd class="title"><time>2017-04-13</time>如果当时</dd>
                <dd class="description">啦啦啦啦啦啦啦</dd>
            </dl>
            
            
            <dl class="column-detail ">

                
                <dd class="title"><time>2017-04-12</time>好妹妹乐队</dd>
                <dd class="description">嘻嘻嘻嘻嘻嘻嘻</dd>
            </dl>           
        </div>
    </div>
    <div class="actions">
        <a href="second" class="try">试读</a>
        <a href="https://h5.sao.cn/product/detail?alias=chgz21lzzn2z&amp;spm=igeto186" class="feed">订阅：¥199/年</a>
    </div>
</div>
<script>
    var shareInfo = {
        title: "得到订阅专栏：薛兆丰的北大经济学课",
        desc: "不是每个人都能上北大，但每个人都有机会学到北大最精英的课程。",
        link: window.location.href,
        imgUrl: "https://piccdn.igetget.com/img/201702/23/201702231553543213896975.jpg"
    };
</script>

    <script src="https://s.mlinks.cc/scripts/dist/mlink.min.js"></script>
<footer class="footer ">
    <div class="download_logo"><img src="https://staticcdn.igetget.com/mobile/dedao/dist/images/get_80.png" alt=""><p>好好学习 天天想上</p></div>
    <div class="download"><a id="btnOpenApp" href="javascript:void(0)" mlink-handling="true">打开得到App</a></div>
</footer>
<script>
    var isIOS = navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false,
        titlePrefix = "得到 | ",
        mlinkConfig = {
            live : {
                url : "http://a.mlinks.cc/AAN1",
                param : "room_id"
            },
            column : {
                url : "http://a.mlinks.cc/AAE8",
                param : "column_id"
            },
            subject : {
                url : "http://a.mlinks.cc/AANC",
                param : "sid"
            },
            audio : {
                url : "http://a.mlinks.cc/AAFb",
                param : ""
            },
            book : {
                url : "http://a.mlinks.cc/AANh",
                param : "bookId"
            },
            topic : {
                url : "http://a.mlinks.cc/AANZ",
                param : "audioId"
            },
            storytelling : {
                url : "http://a.mlinks.cc/AAxB",
                param : "saydetail_id"
            },
            magazine: {
                url: "http://a.mlinks.cc/Aa0T",
                param: "magazine"
            }
        };

        if(isIOS){

            new Mlink({
                mlink : "http://a.mlinks.cc/AAB7?page=column&key=cid&val=25", //在魔窗后台配置好的短链URL
                button : document.querySelector("a#btnOpenApp"), //必须是A标签
                autoRedirect : false//尝试自动打开在魔窗后台配置的mlink中的App
            });

        }else{

            var product = mlinkConfig["column"] || mlinkConfig["column"];

            new Mlink({
                mlink : product.url+"?"+product.param+"=25", //在魔窗后台配置好的短链URL
                button : document.querySelector("a#btnOpenApp"), //必须是A标签
                autoRedirect : false//尝试自动打开在魔窗后台配置的mlink中的App
            });

        }
</script>

</div>

<script type="text/javascript" src="https://staticcdn.igetget.com/mobile/dedao/dist/js/project/common.6ff438ef1898763dcf2a.js"></script>
<script type="text/javascript" src="https://staticcdn.igetget.com/mobile/dedao/dist/js/project/column/main.fee0a7931e29f52d80d8.js"></script> 




</body></html>