<!DOCTYPE html>
<html><head lang="zh-cn">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
    <title>试读 啦啦啦</title>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="msapplication-tap-highlight" content="no">
    
    <link href="https://staticcdn.igetget.com/mobile/dedao/dist/css/project/try/list.css" rel="stylesheet"> 
    
    <script src="//hm.baidu.com/hm.js?31ee5037df015e9b59b755d1c7fd6428"></script><script type="text/javascript">
        var baseUrl = "https://staticcdn.igetget.com/mobile/dedao/dist/",
            productId = "25",
            userId = "";
    </script>

<style type="text/css" src ='second.css'>

</style><script type="text/javascript" charset="utf-8" async="" src="https://staticcdn.igetget.com/mobile/dedao/dist/js/project/6.5ce874a14875380681b4.js"></script></head>

<body>
<div class="page">
    
<div class="page bookpage" id="column">
    <div class="column-frame">
        <div class="column-body">
            <div class="column-list">
                
                <a class="column-item" href="/third">
                    <h2 class="title">我喜欢的歌词。</h2>
                    <div class="vice-title">
                        <div class="tag">试读</div>
                        <time>4月7日</time>
                        <div class="readcount">54388人读过</div>
                        <div class="favcount">1032</div>
                    </div>
                    <div class="img">
                        <img src="http://pic.baike.soso.com/p/20120705/20120705100555-2133529971.jpg" alt="我喜欢的歌词">
                    </div>
                    <div class="summary">啦啦啦，咦？</div>
                    <div class="readall">阅读全文</div>
                </a>
                
                <a class="column-item" href="/try/article/cid/2768">
                    <h2 class="title">Taylor Swift</h2>
                    <div class="vice-title">
                        <div class="tag">试读</div>
                        <time>3月2日</time>
                        <div class="readcount">76374人读过</div>
                        <div class="favcount">1750</div>
                    </div>
                    <div class="img">
                        <img src="http://pic.baike.soso.com/ugc/baikepic2/0/ori-20141220162448-682546760.jpg/800" alt="Taylor Swift">
                    </div>
                    <div class="summary">哇</div>
                    <div class="readall">阅读全文</div>
                </a>

            </div>
            <!-- .column-list -->
        </div>
        <!-- .column-body -->
    </div>
    <!-- .column-frame -->
</div>
<script>
    var shareInfo = {
        title: "啦啦啦",
        desc: "啦啦啦",
        link: window.location.href,
        imgUrl: "https://piccdn.igetget.com/img/201702/23/201702231553543213896975.jpg"
    };
    /**
     * 百度统计
     * */
    var _hmt = _hmt || [];

    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?31ee5037df015e9b59b755d1c7fd6428";
        document.body.appendChild(hm);
    })();
</script>

    <script src="https://s.mlinks.cc/scripts/dist/mlink.min.js"></script>
<footer class="footer ">
    <div class="download_logo"><img src="https://staticcdn.igetget.com/mobile/dedao/dist/images/get_80.png" alt=""><p>好好学习 天天想上</p></div>
    <div class="download"><a id="btnOpenApp" href="javascript:void(0)" mlink-handling="true">打开得到App</a></div>
</footer>
<script>
    var isIOS = navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false,
        titlePrefix = "得到 | ",
        mlinkConfig = {
            live : {
                url : "http://a.mlinks.cc/AAN1",
                param : "room_id"
            },
            column : {
                url : "http://a.mlinks.cc/AAE8",
                param : "column_id"
            },
            subject : {
                url : "http://a.mlinks.cc/AANC",
                param : "sid"
            },
            audio : {
                url : "http://a.mlinks.cc/AAFb",
                param : ""
            },
            book : {
                url : "http://a.mlinks.cc/AANh",
                param : "bookId"
            },
            topic : {
                url : "http://a.mlinks.cc/AANZ",
                param : "audioId"
            },
            storytelling : {
                url : "http://a.mlinks.cc/AAxB",
                param : "saydetail_id"
            },
            magazine: {
                url: "http://a.mlinks.cc/Aa0T",
                param: "magazine"
            }
        };

        if(isIOS){

            new Mlink({
                mlink : "http://a.mlinks.cc/AAB7?page=column&key=cid&val=25", //在魔窗后台配置好的短链URL
                button : document.querySelector("a#btnOpenApp"), //必须是A标签
                autoRedirect : false//尝试自动打开在魔窗后台配置的mlink中的App
            });

        }else{

            var product = mlinkConfig["column"] || mlinkConfig["column"];

            new Mlink({
                mlink : product.url+"?"+product.param+"=25", //在魔窗后台配置好的短链URL
                button : document.querySelector("a#btnOpenApp"), //必须是A标签
                autoRedirect : false//尝试自动打开在魔窗后台配置的mlink中的App
            });

        }
</script>

</div><script src="//hm.baidu.com/hm.js?31ee5037df015e9b59b755d1c7fd6428"></script>

<script type="text/javascript" src="https://staticcdn.igetget.com/mobile/dedao/dist/js/project/common.6ff438ef1898763dcf2a.js"></script>
<script type="text/javascript" src="https://staticcdn.igetget.com/mobile/dedao/dist/js/project/column/main.fee0a7931e29f52d80d8.js"></script> 




</body></html>