<!DOCTYPE html><html data-dpr="1" style="font-size: 54px; user-select: none;"><head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我喜欢的歌词</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    
        <script type="text/javascript">
            !function(){var a="@charset \"utf-8\";html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}html,body{font-family:sans-serif}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}input,select,textarea{font-size:100%}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}abbr,acronym{border:0;font-variant:normal}del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}q:before,q:after{content:''}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}a:hover{text-decoration:underline}ins,a{text-decoration:none}",b=document.createElement("style");if(document.getElementsByTagName("head")[0].appendChild(b),b.styleSheet)b.styleSheet.disabled||(b.styleSheet.cssText=a);else try{b.innerHTML=a}catch(c){b.innerText=a}}();!function(a,b){function c(){var b=f.getBoundingClientRect().width;b/i>540&&(b=540*i);var c=b/10;f.style.fontSize=c+"px",k.rem=a.rem=c}var d,e=a.document,f=e.documentElement,g=e.querySelector('meta[name="viewport"]'),h=e.querySelector('meta[name="flexible"]'),i=0,j=0,k=b.flexible||(b.flexible={});if(g){console.warn("将根据已有的meta标签来设置缩放比例");var l=g.getAttribute("content").match(/initial\-scale=([\d\.]+)/);l&&(j=parseFloat(l[1]),i=parseInt(1/j))}else if(h){var m=h.getAttribute("content");if(m){var n=m.match(/initial\-dpr=([\d\.]+)/),o=m.match(/maximum\-dpr=([\d\.]+)/);n&&(i=parseFloat(n[1]),j=parseFloat((1/i).toFixed(2))),o&&(i=parseFloat(o[1]),j=parseFloat((1/i).toFixed(2)))}}if(!i&&!j){var p=(a.navigator.appVersion.match(/android/gi),a.navigator.appVersion.match(/iphone/gi)),q=a.devicePixelRatio;i=p?q>=3&&(!i||i>=3)?3:q>=2&&(!i||i>=2)?2:1:1,j=1/i}if(f.setAttribute("data-dpr",i),!g)if(g=e.createElement("meta"),g.setAttribute("name","viewport"),g.setAttribute("content","initial-scale="+j+", maximum-scale="+j+", minimum-scale="+j+", user-scalable=no"),f.firstElementChild)f.firstElementChild.appendChild(g);else{var r=e.createElement("div");r.appendChild(g),e.write(r.innerHTML)}a.addEventListener("resize",function(){clearTimeout(d),d=setTimeout(c,300)},!1),a.addEventListener("pageshow",function(a){a.persisted&&(clearTimeout(d),d=setTimeout(c,300))},!1),"complete"===e.readyState?e.body.style.fontSize=12*i+"px":e.addEventListener("DOMContentLoaded",function(){e.body.style.fontSize=12*i+"px"},!1),c(),k.dpr=a.dpr=i,k.refreshRem=c,k.rem2px=function(a){var b=parseFloat(a)*this.rem;return"string"==typeof a&&a.match(/rem$/)&&(b+="px"),b},k.px2rem=function(a){var b=parseFloat(a)/this.rem;return"string"==typeof a&&a.match(/px$/)&&(b+="rem"),b}}(window,window.lib||(window.lib={}));
        </script><style>@charset "utf-8";html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}html,body{font-family:sans-serif}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}input,select,textarea{font-size:100%}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}abbr,acronym{border:0;font-variant:normal}del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}q:before,q:after{content:''}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}a:hover{text-decoration:underline}ins,a{text-decoration:none}</style><meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    

    

    <meta name="msapplication-tap-highlight" content="no">

    


        <script>
        var APPVersion = 0;
        ! function(a, b) {
            function c() {
                var b = f.getBoundingClientRect().width;
                if(a.navigator.appVersion.match(/iphone/gi) && b < 500){
                    b = b * i
                }
                b / i > 540 && (b = 540 * i);
                var c = b / 10;
                f.style.fontSize = c + "px", k.rem = a.rem = c
            }
            var d, e = a.document,
                f = e.documentElement,
                g = e.querySelector('meta[name="viewport"]'),
                h = e.querySelector('meta[name="flexible"]'),
                i = 0,
                j = 0,
                k = b.flexible || (b.flexible = {});
            if (g) {
                console.warn("将根据已有的meta标签来设置缩放比例");
                var l = g.getAttribute("content").match(/initial\-scale=([\d\.]+)/);
                l && (j = parseFloat(l[1]), i = parseInt(1 / j))
            } else if (h) {
                var m = h.getAttribute("content");
                if (m) {
                    var n = m.match(/initial\-dpr=([\d\.]+)/),
                        o = m.match(/maximum\-dpr=([\d\.]+)/);
                    n && (i = parseFloat(n[1]), j = parseFloat((1 / i).toFixed(2))), o && (i = parseFloat(o[1]), j = parseFloat((1 / i).toFixed(2)))
                }
            }
            if (!i && !j) {
                var p = (a.navigator.appVersion.match(/android/gi), a.navigator.appVersion.match(/iphone/gi)),
                    q = a.devicePixelRatio;
                i = p ? q >= 3 && (!i || i >= 3) ? 3 : q >= 2 && (!i || i >= 2) ? 2 : 1 : 1, j = 1 / i
            }
            if (f.setAttribute("data-dpr", i), !g)
                if (g = e.createElement("meta"), g.setAttribute("name", "viewport"), g.setAttribute("content", "initial-scale=" + j + ", maximum-scale=" + j + ", minimum-scale=" + j + ", user-scalable=no"), f.firstElementChild) f.firstElementChild.appendChild(g);
                else {
                    var r = e.createElement("div");
                    r.appendChild(g), e.write(r.innerHTML)
                }
            a.addEventListener("resize", function() {
                clearTimeout(d), d = setTimeout(c, 300)
            }, !1), a.addEventListener("pageshow", function(a) {
                a.persisted && (clearTimeout(d), d = setTimeout(c, 300))
            }, !1), "complete" === e.readyState ? e.body.style.fontSize = 12 * i + "px" : e.addEventListener("DOMContentLoaded", function() {
                e.body.style.fontSize = 12 * i + "px"
            }, !1), c(), k.dpr = a.dpr = i, k.refreshRem = c, k.rem2px = function(a) {
                var b = parseFloat(a) * this.rem;
                return "string" == typeof a && a.match(/rem$/) && (b += "px"), b
            }, k.px2rem = function(a) {
                var b = parseFloat(a) / this.rem;
                return "string" == typeof a && a.match(/px$/) && (b += "rem"), b
            }
        }(window, window.lib || (window.lib = {}));
        </script>

        
        <link href="https://staticcdn.igetget.com/mobile/dedao/dist/css/project/try/article-new.86ff42232a.css" rel="stylesheet"> 
        

        <!-- 新版本编辑器样式 -->
        
        <link href="https://staticcdn.igetget.com/www/editor/dist/preview.afebcce9e08987c5dc15.css" rel="stylesheet">
        

        <!-- 新版本编辑器字体样式 -->
        
        <style>
        @font-face {
            font-family: "font-text";
            src: url(https://fontcdn.igetget.com//font-file/build/3750/c4972a0a1dd33cf876258266ea078194.woff);
        }
        .article .article-body p,.article .article-body ul li,.article .article-body ol li,.article .article-body .tips p b {
            font-family: "font-text";
        }
    
        @font-face {
            font-family: "font-title";
            src: url(https://fontcdn.igetget.com//font-file/build/3750/8d5b274331fe4b1bdcdd0660d0f069d9.woff);
        }
        .article .title,.article h3.letter-item,.article h4.letter-item,.article .article-body h2.titleCenter {
            font-family: "font-title";
        }
    
        @font-face {
            font-family: "font-tip";
            src: url(https://fontcdn.igetget.com//font-file/build/3750/22e87ca2d645554d3efa5e73a60fed02.woff);
        }
        .article .article-body .tag span,.article .article-body figure figcaption,.article .article-body .audio .audio-tips .text,.article .article-body .tips p,.article .article-body .audio .info span,.article .author {
            font-family: "font-tip";
        }
    
        @font-face {
            font-family: "font-titleSmall";
            src: url(https://fontcdn.igetget.com//font-file/build/3750/8f990add7a3eb50776aa04f3d519e87f.woff);
        }
        .article .article-body h2 {
            font-family: "font-titleSmall";
        }
    
        @font-face {
            font-family: "font-bold";
            src: url(https://fontcdn.igetget.com//font-file/build/3750/8b4572cd7ccca80284316cdddd1984ff.woff);
        }
        .article .article-body p b,.article .article-body b {
            font-family: "font-bold";
        }
    </style>
        
    

    <script type="text/javascript">
        var baseUrl = "https://staticcdn.igetget.com/mobile/dedao/dist/";
        var user = {};
    </script>


<style type="text/css" src = 'third.css'>

</style><script type="text/javascript" charset="utf-8" async="" src="https://staticcdn.igetget.com/mobile/dedao/dist/js/project/20.c98fb7fc11f6a8f63c17.js">
</script></head>
<body style="font-size: 12px;">

<div class="source-unknown">
<script src="https://s.mlinks.cc/scripts/dist/mlink.min.js"></script>
<footer class="footer ">
    <div class="download_logo"><img src="https://staticcdn.igetget.com/mobile/dedao/dist/images/get_80.png" alt=""><p>好好学习 天天想上</p></div>
    <div class="download"><a id="btnOpenApp" href="javascript:void(0)" mlink-handling="true">打开得到App</a></div>
</footer>
<script>
    var isIOS = navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false,
        titlePrefix = "得到 | ",
        mlinkConfig = {
            live : {
                url : "http://a.mlinks.cc/AAN1",
                param : "room_id"
            },
            column : {
                url : "http://a.mlinks.cc/AAE8",
                param : "column_id"
            },
            subject : {
                url : "http://a.mlinks.cc/AANC",
                param : "sid"
            },
            audio : {
                url : "http://a.mlinks.cc/AAFb",
                param : ""
            },
            book : {
                url : "http://a.mlinks.cc/AANh",
                param : "bookId"
            },
            topic : {
                url : "http://a.mlinks.cc/AANZ",
                param : "audioId"
            },
            storytelling : {
                url : "http://a.mlinks.cc/AAxB",
                param : "saydetail_id"
            },
            magazine: {
                url: "http://a.mlinks.cc/Aa0T",
                param: "magazine"
            }
        };

        if(isIOS){

            new Mlink({
                mlink : "http://a.mlinks.cc/AAB7?page=&key=&val=", //在魔窗后台配置好的短链URL
                button : document.querySelector("a#btnOpenApp"), //必须是A标签
                autoRedirect : false//尝试自动打开在魔窗后台配置的mlink中的App
            });

        }else{

            var product = mlinkConfig[""] || mlinkConfig["column"];

            new Mlink({
                mlink : product.url+"?"+product.param+"=", //在魔窗后台配置好的短链URL
                button : document.querySelector("a#btnOpenApp"), //必须是A标签
                autoRedirect : false//尝试自动打开在魔窗后台配置的mlink中的App
            });

        }
</script>

</div>

<div class="subscribe-detail source-unknown" data-source="unknown">
    <div class="top" data-img="https://piccdn.igetget.com/img/201702/23/201702231554015401784799.jpg" data-id="11" data-sharetitle="得到订阅专栏：薛兆丰的北大经济学课" data-sharecontent="不是每个人都能上北大，但每个人都有机会学到北大最精英的课程。">
    </div>

    



<article class="article default">

    <h1 class="title name-11">我喜欢的歌词</h1>

    <div class="author">
        
        <img src="http://pic.baike.soso.com/p/20120929/20120929134522-519621432.jpg">
        
        <p>lws</p>
        <span class="time">2017-04-07</span>
    </div>
    <div class="line"></div>
    <div style="display:none;">
        
        {}
    </div>


    <div class="article-body">
        
            


                <div class="article-audio article-audio-2">
                    <div class="audio">
                        <div class="audio-detail">
                            <button class="article-audio-btn play" data-title="我喜欢的歌词" data-src="http://igetoss.cdn.igetget.com/mp3/201704/06/201704062232308302494006.mp3"></button>
                            <div class="info article-audio-meta">
                                <p class="audio-title">我喜欢的歌词</p>
                                <p class="audio-desc">
                                    <span class="time music-time">15:49</span>
                                    <span class="size article-audio-size">7.41 MB</span>
                                </p>
                            </div>

                        </div>
                        <div class="audio-tips">
                            <div class="text">丨我喜欢的歌词丨</div>
                        </div>
                    </div>
                </div>

            
        
            
                <div class="text ">
                  
                <figure>
                    <img src="http://pic.baike.soso.com/ugc/baikepic2/0/ori-20170308182636-1571799051.jpg/800">
                    
                </figure>

            
                <h2>不说再见</h2>
            
        
            
                <div class="text ">
                    <p>再见了 相互嫌弃的老同学<br>
                    再见了 来不及说出的谢谢<br>
再见了 不会再有的留堂作业<br>
再见了<br>
我留给你毕业册的最后一页<br>
留在抽屉的纸条<br>
是你约过谁和谁的画面<br>
偷偷传阅的小说<br>
背着老师家长读好几遍<br>
没谈过几场恋爱<br>
却相约伴娘伴郎的腼腆<br>
青春发育那几年<br>
还许着小孩干爹干妈的诺言<br>
入学时想着毕业<br>
毕业却因离开友谊失眠<br>
那时几首流行歌<br>
成了聚会 ktv 里的泪点<br>
校服藏在衣柜底<br>
很丑却再没机会穿着上学<br>
运动会的进行曲<br>
偶尔却比老情歌还让人怀念<br>
再见了 相互嫌弃的老同学<br>
再见了 来不及说出的谢谢<br>
再见了 不会再有的留堂作业<br>
再见了<br>
我留给你毕业册的最后一页<br>
我相信 我们还会再见<br>
我相信 我会一直想念<br>
我相信 我们都会很好<br>
我相信 我相信的一切 变成火焰<br>
照耀彼此的脸 茫茫人海相互看见<br>
课桌上刻的我爱你还在<br>
多少澎湃如海如今成了感慨<br>
谁的青春不迷茫<br>
其实我们都一样</p>
                </div>
                <!-- 需要处理空白p标签 -->

    </div>

</article>




    <div class="comments" data-c="25" data-a="3750">
        <div class="comments-head">
            <span>精选留言</span>
        </div>
        <ul class="comments-list">
                呵呵呵呵呵呵
                
                <li class="comments-footer">加载中</li>
                
        </ul>
    </div>
    <div id="audioContainer"></div>
</div>

<script>
window.audioCover = 'https://piccdn.igetget.com/img/201702/23/201702231554129462184922.jpg';
</script>

<script type="text/javascript" src="https://staticcdn.igetget.com/mobile/dedao/dist/js/project/common.6ff438ef1898763dcf2a.js"></script>
<script type="text/javascript" src="https://staticcdn.igetget.com/mobile/dedao/dist/js/project/try/article/main.4cecc3f854185e9a2b72.js"></script> 





<script src="//hm.baidu.com/hm.js?31ee5037df015e9b59b755d1c7fd6428"></script></body></html>